<div class="breadcrumb">
    <span {{ route ==  'qs_booking_guichet' ? 'class="active"' }}>Guichet</span>
    <span {{ route ==  'qs_booking_information' ? 'class="active"' }}>Informations visiteurs</span>
    <span {{ route ==  'qs_booking_checkout' ? 'class="active"' }}>Paiement</span>
    <span {{ route ==  'qs_booking_confirmation' ? 'class="active"' }}>Confirmation</span>
</div>
