{% extends 'QSBookingBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ include('QSBookingBundle:Booking:breadcrumb.html.twig', {route: 'qs_booking_confirmation'}) }}
{% endblock %}
{% block qsbookingTitle %}{{ order.event.name }}{% endblock %}
{% block qsbookingContent %}
    <h3 class="text-center meta-color">Votre paiement a bien été pris en compte</h3>
    <p class="text-center mt-3">
        Merci ! Nous avons bien reçu votre paiement.<br>
        Vos billets ont été envoyés à <i>{{ order.email }}</i>.<br>
    </p>
    <p class="text-center mt-3">
        Votre numéro de commande est : <span class="font-700">{{ order.id }}</span>.<br>
        Merci de garder ce numéro afin de nous le communiquer en cas de problème.<br>
        À très vite.
    </p>
{% endblock %}
