{% extends 'QSBookingBundle::layout.html.twig' %}

{% block qsbookingTitle %}{{ event.name }}{% endblock %}
{% block qsbookingContent %}
    <input data-toggle="datepicker">
    <div data-toggle="datepicker-container"></div>
{% endblock %}
