<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Billetterie du Musée du Louvre</title>
    <link rel="stylesheet" href="{{ asset('build/main.css') }}">
</head>
<body>
    <header id="header-wrap">
        <div id="header" class="boxed">
            <img src="{{ asset('assets/images/logo-louvre.jpg') }}" alt="Logo du Musée du Louvre" height="80%">
            <nav>
                <a href="#">Informations pratiques</a>
            </nav>
        </div>
    </header>

    <section id="main">
        <p>lorem1500</p>
    </section>

    <footer id="footer-wrap">
        <div id="footer-top-wrap">
            <div id="footer-top" class="boxed">
                <div class="follow-us">Suivez-nous pour recevoir toute l'actualité du Musée du Louvre</div>
                <div class="social-links">
                    <i>Facebook</i>
                    <i>Twitter</i>
                    <i>Snapchat</i>
                </div>
            </div>
        </div>
        <div id="footer-main-wrap">
            <div id="footer-main" class="boxed">
                <img src="#" alt="Logo du Musée du Louvre">
                <nav>
                    <a href="#">CGU</a>
                    <a href="#">CGV</a>
                    <a href="#">Mentions légales</a>
                </nav>
                <div class="payment-icons">
                    <i>Paypal</i>
                    <i>Stripe</i>
                    <i>Sécurité</i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
