{% extends 'QSBookingBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ include('QSBookingBundle:Booking:breadcrumb.html.twig', {route: 'qs_booking_information'}) }}
{% endblock %}
{% block qsbookingTitle %}{{ order.event.name }}{% endblock %}
{% block qsbookingContent %}
    <h3 class="text-center meta-color">Renseignez les coordonnées de chaque billet</h3>
    {{ include('QSBookingBundle:Booking:order-chrono.html.twig') }}
    {{ include('QSBookingBundle:Booking/Form:information.html.twig') }}
{% endblock %}
