{% extends 'QSBookingBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ include('QSBookingBundle:Booking:breadcrumb.html.twig', {route: 'qs_booking_information'}) }}
{% endblock %}
{% block qsbookingTitle %}{{ event.name }}{% endblock %}
{% block qsbookingContent %}
    <h3 class="text-center meta-color">Renseignez les coordonnées de chaque billet</h3>
    <div method="post" id="information-wrap">
    </div>
    <div class="text-right">
        <button type="submit" form="information-wrap" value="submit" class="primary-btn">Valider mon choix</button>
    </div>
{% endblock %}
