{% extends 'QSBookingBundle::layout.html.twig' %}

{% block qsbookingTitle %}Commande expirée{% endblock %}
{% block qsbookingContent %}
    <h3 class="text-center meta-color">Malheureuseument cette commande a expiré</h3>
    <p class="text-center mt-3">
        Votre commande et vos billets vous sont réservés pendant <span class="font-700">{{ qs_booking.orderLimitTime }} minutes</span>,<br>
        au delà de ce temps votre commande est annulée.
    </p>
    <p class="text-center mt-3">
        Vous pouvez toutefois créer une nouvelle commande depuis la <a href="{{ path('qs_booking_home') }}">billetterie</a>.
    </p>
{% endblock %}
