:root {
  --primary-color: #50394c;
  --secondary-color: #ffef96;
  --tertiary-color: #f4e1d2;
  --dark-gray: DarkSlateGray;
  --light-gray: #888;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  color: #111;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-weight: 900;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p,
span {
  line-height: 1.5rem;
}

.hide {
  display: none;
}

.boxed {
  width: 980px;
  margin: auto;
}

.display-i {
  display: inline !important;
}

.display-ib {
  display: inline-block !important;
}

.display-b {
  display: block !important;
}

.primary-color {
  color: var(--primary-color);
}

.meta-color {
  color: var(--light-gray);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-400 {
  font-weight: 400;
}

.font-700 {
  font-weight: 700;
}

.font-900 {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
    color: color(var(--primary-color) l(20%));
  }
}

input {
  width: 100%;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  border: 1px solid color(var(--light-gray) l(80%));

  &[type=checkbox] {
    width: auto;
  }

  &:not([type=checkbox]):focus {
    outline: 2px solid color(var(--light-gray) l(50%));
  }
}

.primary-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--secondary-color);
  color: color(var(--secondary-color) b(95%));
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: color(var(--secondary-color) b(3%));
    color: color(var(--primary-color) l(20%));
  }
}
