<div class="order-chrono-wrap">
    <div class="order-chrono display-b font-900 font-230"
        data-created-at="{{ order.createdAt|date('Y-m-d H:i:s') }}"
        data-order-limit-time="{{ qs_booking.orderLimitTime }}">
        --:--
    </div>
    <p>
        Chaque utilisateur dispose de <span class="font-700">{{ qs_booking.orderLimitTime }} minutes</span> pour finaliser sa commande.<br>
        Au-delà de cette période, la réservation que nous retenons sera à nouveau disponible pour les autres.
    </p>
</div>
