{% extends '::layout.html.twig' %}

{% block pageTitle %}Billetterie - {{ parent() }}{% endblock %}

{% block mainContent %}
    {% block breadcrumb %}{% endblock %}
    <h1>{% block qsbookingTitle %}Billetterie{% endblock %}</h1>
    {% block qsbookingContent %}{% endblock %}
{% endblock %}
